*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
  justify-content: center;
}

input{
  width: 15%;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 5px;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29px;
  padding-top: 10px;
}

h3{
  padding: 5px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.box-input{
  background-color: #A9A9A9;
  padding: 30px;
  width: 50%;
  margin: 0 auto;
}

input{
  background-color: #D3D3D3;
}

.box-anwser{
  background-color: gray;
  padding: 40px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
